.app__chef-content-quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
}

.app__chef-content-quote img {
    width: 47px;
    height: 40px;
    margin-right: 1rem;
}

.app__chef-sign {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2.5rem;
    flex-direction: column;
}

.app__chef-sign p:first-child {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    /* H4 32px Cormorant Upright */
    font-family: Cormorant Upright;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 41.6px */
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.app__chef-sign img {
    width: 235px;
    height: 83px;
    margin-top: 2.5rem;
}

@media screen and (max-width:2000px) {
    .app__chef-sign img {
        width: 370px;
    }
}
@media screen and (max-width:850px) {
    .app__chef-sign img {
        width: 250px;
    }
}

@media screen and (max-width:450px) {
    .app__chef-sign img {
        width: 80%;
    }
}
