.app__globalfooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: black;
    position: relative;
}

.app__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.app__footer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.app__footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.app__footer-logo img:first-child {
    width: 289px;
    height: 83px;
    color: #DCCA87;
    margin-bottom: 1rem;
}

.app__footer-rs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 0.75rem;
}

.app__footer-workinghours{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}